/* CSS Code */
.swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 64px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
}

.swiper-pagination-bullet {
    background: #4F46E5;
}

.swiper-pagination-bullet-active {
    background: #4F46E5 !important;
}


@media (max-width: 460px) {
    .threetitle {
        font-size: 3rem;
    }
    .highlight {
        font-size: 1.5rem;
        padding: .5rem;
    }
    .highlight2 {
        font-size: 1.2rem;
        padding: 0 .5rem; 
    }
    .featuretext {
        font-size: 1.7rem;
    }
    .contacttext {
        font-size: 1.7rem;
    }
}

@media (max-width: 290px) {
    .booknestTxt {
        font-size: 20px;
    }
    .profileDropdownhome {
        display: none;
    }

    .bluebanner {
        width: 90%;
    }

    .bluebannerBtn {
        padding-left: 5px;
    }
    .bluebannerTxt {
        font-size: .6rem;
    }

    
}