<%- include("../components/header") %>
    <%- include("../components/navbar")%>
        <div class="flex items-center justify-center">
            <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md my-4">
                <h2 class="text-2xl font-bold text-center mb-6 text-blue-600">Register for BookNest</h2>

                <form id="studentForm" action="/register" method="POST" class="space-y-4">
                    <div>
                        <input type="text" id="name" name="name" placeholder="Full Name"
                            class="w-full p-2 border rounded focus:outline-blue-500">
                        <p id="nameError" class="text-red-500 text-sm min-h-[20px] hidden">Full Name is required</p>
                    </div>

                    <div>
                        <input type="text" id="address" name="address" placeholder="Address"
                            class="w-full p-2 border rounded focus:outline-blue-500">
                        <p id="addressError" class="text-red-500 text-sm min-h-[20px] hidden">Address is required</p>
                    </div>

                    <div>
                        <input type="text" id="course" name="course" placeholder="Course"
                            class="w-full p-2 border rounded focus:outline-blue-500">
                        <p id="courseError" class="text-red-500 text-sm min-h-[20px] hidden">Course is required</p>
                    </div>

                    <div>
                        <input type="number" id="semester" name="semester" placeholder="Semester"
                            class="w-full p-2 border rounded focus:outline-blue-500">
                        <p id="semesterError" class="text-red-500 text-sm min-h-[20px] hidden">Semester is required</p>
                    </div>

                    <div>
                        <input type="text" id="rollno" name="rollno" placeholder="Roll Number"
                            class="w-full p-2 border rounded focus:outline-blue-500">
                        <p id="rollnoError" class="text-red-500 text-sm min-h-[20px] hidden">Roll Number is required</p>
                    </div>

                    <div>
                        <input type="email" id="email" name="email" placeholder="Email"
                            class="w-full p-2 border rounded focus:outline-blue-500">
                        <p id="emailError" class="text-red-500 text-sm min-h-[20px] hidden">Enter a valid email</p>
                    </div>

                    <div>
                        <input type="text" id="phone" name="phone" placeholder="Phone Number"
                            class="w-full p-2 border rounded focus:outline-blue-500">
                        <p id="phoneError" class="text-red-500 text-sm min-h-[20px] hidden">Enter a valid phone number
                        </p>
                    </div>

                    <div>
                        <input type="password" id="password" name="password" placeholder="Password"
                            class="w-full p-2 border rounded focus:outline-blue-500">
                        <p id="passwordError" class="text-red-500 text-sm min-h-[20px] hidden">Password is required</p>
                    </div>

                    <button type="submit"
                        class="w-full bg-blue-600 text-white p-2 rounded hover:bg-blue-700">Register</button>
                </form>


                <p class="text-center text-gray-600 mt-4">Already have an account?
                    <a href="/login" class="text-blue-600 hover:underline">Login</a>
                </p>
            </div>
        </div>


        <div role="status" id="loader"
            class="fixed top-0 left-0 hidden bg-white w-full h-full items-center justify-center flex-col">
            <p>You will receive an email from the library admin if your registration was sucessfull.Then your account is ready to be logged in!</p>
            <p>Redirecting to Homepage</p>
            <svg aria-hidden="true" class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-blue-600"
                viewBox="0 0 100 101" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
                    fill="currentColor" />
                <path
                    d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
                    fill="currentFill" />
            </svg>

            <span class="sr-only">Loading...</span>
        </div>


        <script src="/javascript/registervalidation.js"></script>
        </body>

        </html>